<tr>
  <td>
    <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-cell" align="center"><p class="subalign-center">&copy; 2018 K-App.</p></td>
      </tr>
    </table>
  </td>
</tr></table></td></tr></table></body></html>
