// Picker
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import url("https://fonts.googleapis.com/css?family=MedievalSharp|Roboto:300,400,500");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

.max-width {
  max-width: 1192px;
}

.first-letter-uppercase {
  display: inline-block;
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}

.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  margin-bottom: 15px;

  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}

.mat-radio-label {
  white-space: normal;
}

.mat-checkbox-label {
  white-space: normal;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {

  0% { -webkit-transform: scale(0) }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {

  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
