@import "~theme.scss";

.taskRow {
  cursor: pointer;
}

.notStarted {
  background: $notStarted;
}

.inProgress {
  background: $inProgress;
}

.abandoned {
  background: $abandoned;
}

.done {
  background: $done;
}
