<div fxLayoutAlign="center">
  <mat-card fxFlex class="max-width">
    <mat-card-header>
      <mat-card-title fxLayout="row">
        <a mat-button routerLink="/roles"><mat-icon>arrow_back</mat-icon></a>
        <section class="mat-typography">
          <h1>Modifier un rôle</h1>
        </section>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" [formGroup]="roleForm" (ngSubmit)="edit()">
        <mat-form-field>
          <input matInput placeholder="Nom du rôle" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"
            matTextareaAutosize matAutosizeMinRows="10"></textarea>
        </mat-form-field>
        <h4>Permissions</h4>
        <div *ngFor="let permission of permissions">
          <mat-checkbox [(ngModel)]="permission.isChecked"
            [ngModelOptions]="{standalone: true}"
            [disabled]="permission.permission.disabled">
            {{permission.permission.name}}
          </mat-checkbox>
        </div>
        <div fxLayoutAlign="center">
          <button fxFlex="50" mat-button type="submit" [disabled]="!roleForm.valid">
            Modifier
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

