<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
      <mat-card-header>
        <mat-card-title fxLayout="row">
          <section class="mat-typography">
            <h1>Présentation</h1>
          </section>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column">
          <div fxLayoutAlign="center">
            <img src="./assets/logo.png">
          </div>
          <p class="justify">
            La K-Fêt de l'INSA Lyon n'est pas à confondre avec une cafétéria ou autre restaurant universitaire. 
            Il s'agit en effet d'un bar étudiant où les Insaliens se retrouvent pour se poser, se re-poser, 
            discuter, fêter, boire, dormir, manger, écouter de la musique, jouer au babyfoot ou au billard...
          </p>
          <p class="justify">
            La K-Fêt c'est un endroit incontournable, incroyable qu'il ne faut absolument pas rater si tu es dans les environs.
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayoutAlign="center">
      <mat-card fxFlex class="max-width">
        <mat-card-header>
          <mat-card-title fxLayout="row">
            <section class="mat-typography">
                <h1>Les horaires</h1>
            </section>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayoutAlign="center">
            <p>
              <strong>Lundi</strong>: 12:00–14:00, <strong>19:00</strong>–01:00<br>
              <strong>Mardi</strong>: 12:00–14:00, 18:00–01:00<br>
              <strong>Mercredi</strong>: 12:00–14:00, 18:00–01:00<br>
              <strong>Jeudi</strong>: 12:00–14:00, 18:00–01:00<br>
              <strong>Vendredi</strong>: 12:00–14:00, 18:00–01:00<br>
              <strong>Samedi</strong>: Fermé<br>
              <strong>Dimanche</strong>: Fermé
            </p>
          </div>
          <p>
            Attention, lors de certains évènements (notament les BOOMs K-Fêt), une extension d'horaire est 
            prévue <strong>jusqu'à 3h du matin</strong>. Nous t'informons néanmoins que la K-Fêt est fermée toutes vieilles de 
            vacances scolaires, vacances scolaires (excepté le mois d'août pour l'école d'été) ainsi que les 
            jours fériés sauf indication contraire.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  <div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
      <mat-card-header>
        <mat-card-title fxLayout="row">
          <section class="mat-typography">
              <h1>Le lieux</h1>
          </section>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="justify">
          Elle se situe sur le campus scientifique de la Doua à Villeurbanne entre la salle de spectacle 
          La Rotonde et le Bureau des Élèves de l'INSA de Lyon.
        </p>
        <div fxLayoutAlign="center">
          <iframe fxFlex.lt-md="100%" fxFlex="600px" height="400px" scrolling="no" src="https://www.google.com/maps?q=K-F%C3%AAt%20Insa%20Lyon&amp;z=14&amp;t=m&amp;hl=fr&amp;output=embed" width="600"></iframe>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
      <mat-card-header>
        <mat-card-title fxLayout="row">
          <section class="mat-typography">
              <h1>Les services</h1>
          </section>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          La K-Fêt te propose <strong>gratuitement</strong> de nombreux services. 
          N'oublie pas de respecter le materiel!
        </p>
        <h2>Les Baby Foot</h2>
        <p class="justify">
          La K-Fêt dispose de 3 baby foot. Seux types de balles sont mis à disposition: 
          les balles standards et les balles dures. Ces-dernières nécéssitent une caution au bar! 
          N'hésite pas à venir jouer, c'est le sport le plus répendu dans ce bar.
        </p>
        <div fxLayoutAlign="center">
          <div fxLayout="column" fxFlex.lt-md="100%" fxFlex="900px">
            <div fxFlex.xs="270px" fxFlex="400px" style="background-image: url('./assets/img/presentation/baby.jpg')" class="responsive-image-container">
            </div>
          </div>
        </div>
        <h2>Les billards</h2>
        <p class="justify">
            Il te suffit de donner une carte étudiante/permis de conduire + 20€ de caution au bar 
            pour te munir des cannes et des boules.
        </p>
        <p class="justify">
          Si tu constate le moindre soucis durant la soirée, n'hésite pas à en parler aux barmans de services.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
      <mat-card-header>
        <mat-card-title fxLayout="row">
          <section class="mat-typography">
              <h1>La carte</h1>
          </section>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="justify">
          Retrouve bientôt ici la carte des consommations!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
