<div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
        <mat-card-header>
            <mat-card-title>
                <section class="mat-typography">
                    <h1>Liste des Templates</h1>
                </section>
            </mat-card-title>
            <div fxFlex></div>
            <a mat-mini-fab color="accent" *ngxPermissionsOnly="['template:write']" routerLink="/templates/new" >
                <mat-icon>add</mat-icon>
            </a>
        </mat-card-header>
        <mat-card-content>
            <div class="header">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher des templates">
                </mat-form-field>
            </div>
            <div class="mat-elevation-z3">
                <mat-table #table [dataSource]="templatesData" matSort>
                  
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
                        <mat-cell *matCellDef="let template"> {{template.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let template" >         
                            <button mat-icon-button (click)="edit(template)" *ngxPermissionsOnly="['template:write']"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button (click)="view(template)"><mat-icon>zoom_in</mat-icon></button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator #paginator
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>
