<div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
        <mat-card-header>
            <mat-card-title fxLayout="row">
                <a mat-button routerLink="/barmen"><mat-icon>arrow_back</mat-icon></a>
                <section  class="mat-typography">
                    <h1>Ajouter un Barman</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="barmanForm" fxLayout="column">
                <h4>Informations personnelles</h4>
                <mat-form-field>
                    <input matInput placeholder="Nom de famille" formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Prénom" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Date de naissance" formControlName="dateOfBirth" [owlDateTimeTrigger]="dateOfBirthDT" [owlDateTime]="dateOfBirthDT">
                    <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'" [startAt]="startDate" #dateOfBirthDT></owl-date-time>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Facebook (un lien URL)" formControlName="facebook">
                </mat-form-field>
                <h4>Informations de connection</h4>
                <mat-form-field>
                    <input matInput placeholder="Adresse email" formControlName="email">
                </mat-form-field>
                <h4>Informations relative à la K-Fêt</h4>
                <mat-form-field>
                    <input matInput placeholder="Surnom" formControlName="nickname">
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Cheminement" formControlName="flow"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Parrain ou marraine" formControlName="godFather" [(ngModel)]="selectedGodFather" name="godFather">
                        <mat-option *ngFor="let godFather of barmen" [value]="godFather.id">{{godFather.nickname}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Kommissions" multiple formControlName="kommissions" [(ngModel)]="selectedKommissions" name="kommission">
                        <mat-option *ngFor="let kommission of kommissions" [value]="kommission.id">{{kommission.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Roles" multiple formControlName="roles" [(ngModel)]="selectedRoles" name="role">
                        <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="active">Actif</mat-checkbox>
                <div fxLayoutAlign="center">
                    <button fxFlex="50" mat-button type="button" (click)="add()"
                    [disabled]="!barmanForm.valid">Ajouter</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
