<div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
        <mat-card-header>
            <mat-card-title fxLayout="row">
                <a mat-button routerLink="/specialaccounts" *ngxPermissionsOnly="['specialaccount:read']"><mat-icon>arrow_back</mat-icon></a>
                <section class="mat-typography">
                    <h1>Modifier un compte spécial</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h4>Mise à jour des informations</h4>
            <form [formGroup]="specialAccountForm" fxLayout="column" (ngSubmit)="openDialog()">
                <mat-form-field>
                    <input matInput placeholder="Adresse email" formControlName="email">
                    <mat-hint align="start">Un email de vérification sera envoyé si vous changez ce champ.</mat-hint>
                    <mat-error *ngIf="specialAccountForm.get('email').hasError('email')">
                        Doit être un email valide.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
                <h4>Information(s) sensible(s)</h4>
                <p *ngxPermissionsExcept="['specialaccount:force-code-reset']">
                    Le code ne peut pas être changer que par un administrateur
                    avec la permission "specialaccount:force-code-reset".
                </p>
                <div fxLayout.xs="column" fxLayout="row" *ngxPermissionsOnly="['specialaccount:force-code-reset']">
                    <mat-form-field fxFlex.gt-xs="45">
                        <input matInput type="password" placeholder="Code " formControlName="code">
                        <mat-error *ngIf="specialAccountForm.get('code').hasError('pattern')">
                            Le code doit comporter seulement des chiffres, 4 au minimum.
                        </mat-error>
                    </mat-form-field>
                    <div fxFlex fxHide.xs="true"></div>
                    <mat-form-field fxFlex.gt-xs="45">
                        <input matInput type="password" placeholder="Confirmation du code" formControlName="codeConfirmation">
                    </mat-form-field>
                </div>
                <mat-error *ngIf="!codesMatch()" fxLayoutAlign="center">
                    <br />
                    Les codes doivent être identiques.
                </mat-error>
                <h4 *ngxPermissionsOnly="['specialaccount:write']">Permissions</h4>
                <div *ngxPermissionsOnly="['specialaccount:write']">
                    <div *ngFor="let permission of permissions">
                        <mat-checkbox [(ngModel)]="permission.isChecked"
                                      [ngModelOptions]="{standalone: true}"
                                      [disabled]="permission.permission.disabled">
                            {{permission.permission.name}}
                        </mat-checkbox>
                    </div>
                </div>
                <div fxLayoutAlign="center">
                    <button fxFlex="50" mat-button type="submit" [disabled]="disable()">Modifier</button>
                </div>
            </form>
            <mat-divider></mat-divider>
            <form [formGroup]="passwordForm" fxLayout="column" (ngSubmit)="updatePassword()" *ngIf="isMe()" fxLayout="column">
                    <h4>Modification du mot de passe</h4>
                    <mat-form-field fxFlex>
                        <input matInput type="password" placeholder="Mot de passe actuel" formControlName="oldPassword">
                    </mat-form-field>
                    <div fxLayout.xs="column">
                        <mat-form-field fxFlex.gt-xs="45">
                            <input matInput type="password" placeholder="Nouveau mot de passe" formControlName="newPassword">
                        </mat-form-field>
                        <div fxFlex></div>
                        <mat-form-field fxFlex.gt-xs="45">
                            <input matInput type="password" placeholder="Confirmation" formControlName="newPasswordConfirm">
                        </mat-form-field>
                    </div>
                    <span class="mat-error" *ngIf="passwordForm.invalid
                        && passwordForm.controls['oldPassword'].dirty
                        && passwordForm.controls['newPassword'].dirty
                        && passwordForm.controls['newPasswordConfirm'].dirty">
                        {{getErrorMessage()}}
                    </span>
                    <div fxLayoutAlign="center">
                        <button fxFlex="50" mat-button type="submit" [disabled]="!passwordForm.dirty || !passwordForm.valid">Modifier</button>
                    </div>
                </form>
        </mat-card-content>
    </mat-card>
</div>
