<div fxLayoutAlign="center">
  <mat-card fxFlex="350px" fxFlex.lt-sm="95">
    <mat-card-content>
      <h3>(re)Définition du mot de passe</h3>
      <p>Veuillez (re)définir votre mot de passe. Votre adresse mail est {{email}}</p>
      <form [formGroup]="passwordForm" fxLayout="column" (ngSubmit)="definePassword()">
        <mat-form-field>
          <input matInput type="password" placeholder="Mot de passe" autocapitalize="off" reverse="true"
            autocorrect="off" formControlName="password" validateEqual="passwordConfirmation">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Mot de passe (confirmation)"
            formControlName="passwordConfirmation" validateEqual="password">
        </mat-form-field>
        <button mat-button type="submit" [disabled]="!passwordForm.valid">
          DÉFINIR
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
