<div fxLayoutAlign="center">
  <mat-card fxFlex class="max-width">
    <mat-card-header>
      <mat-card-title>
        <section class="mat-typography">
          <h1>Liste des adhérents</h1>
        </section>
      </mat-card-title>
      <div fxFlex></div>
      <a mat-mini-fab color="accent" routerLink="/members/new" *ngxPermissionsOnly="['member:write']">
        <mat-icon>add</mat-icon>
      </a>
    </mat-card-header>
    <mat-card-content>
      <div class="header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher des adhérents">
        </mat-form-field>
      </div>
      <div class="mat-elevation-z3">
        <mat-table #table [dataSource]="membersData" matSort>
          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nom</mat-header-cell>
            <mat-cell *matCellDef="let member"> {{member.lastName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</mat-header-cell>
            <mat-cell *matCellDef="let member"> {{member.firstName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="school">
            <mat-header-cell *matHeaderCellDef mat-sort-header> École</mat-header-cell>
            <mat-cell *matCellDef="let member"> {{member.school}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
            <mat-cell *matCellDef="let member">
              <div fxFlex fxLayout="row" fxLayoutAlign.xs="center center">
                <button mat-icon-button (click)="edit(member)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button color="warn" mat-icon-button (click)="openDeleteDialog(member)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator
          class="hide-paginator-total"
          #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
