<mat-card>
	<mat-card-header>
		<mat-card-title>
			<section class="mat-typography">
				<h1>Mes tâches</h1>
			</section>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Voici les tâches non commencées ou en progrès ou tu as quelque chose à faire:</p>
		<div *ngFor="let kommission of tasksGroupByKommissions">
			<section class="mat-typography">
				<h3>{{ kommission.name }}</h3>
			</section>
			<ul>
				<li *ngFor="let task of kommission.tasks"><span class="taskLink" (click)="openViewDialog(kommission, task)">{{ task.name }}</span> avant le {{ task.deadline | date:'dd/MM/yy' }}</li>
			</ul>
		</div>
	</mat-card-content>
</mat-card>
