<div class="footer-container" fxLayoutAlign="center center">
  <div>
    <p class="text">K-App <a href="https://github.com/K-Fet/K-App/releases">{{ version }}</a> | <strong>Serviam Indeclinabilem</strong> | © 2018<br />
      Coded with <span class="accent">&hearts;</span> by La Konch' & <a href="https://github.com/K-Fet/K-App/graphs/contributors">La team K-App</a></p>
  </div>
</div> 
