@import "~theme.scss";

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 999;
  border-top: 1px solid rgba(0, 0, 0, .14);
  background: white;
}

.text {
  text-align: center;
  font-size: .8em;
  color: rgba(0, 0, 0, .87);
}

a {
  color: rgba(0, 0, 0, .87);
}

.accent {
  color: $warn;
}
