<div fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap="20px" class="max-width" style="width:100%">
        <app-week-picker fxFlex></app-week-picker>
        <mat-card fxFlex>
            <mat-card-header>
                <mat-card-title>
                    <section class="mat-typography">
                        <h1>Liste des services</h1>
                    </section>
                </mat-card-title>
                <div fxFlex></div>
                <a mat-mini-fab color="accent" routerLink="/services-manager/new" *ngxPermissionsOnly="['service:write']">
                    <mat-icon>add</mat-icon>
                </a>
            </mat-card-header>
            <mat-card-content>
                <div class="mat-elevation-z3">
                    <mat-table #table [dataSource]="servicesData" matSort>
                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                            <mat-cell *matCellDef="let service"> {{service.startAt | date:'EEEE d LLLL':'':'fr'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="start">
                            <mat-header-cell *matHeaderCellDef> Début </mat-header-cell>
                            <mat-cell *matCellDef="let service"> {{service.startAt | date:'H'}}h </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="end">
                            <mat-header-cell *matHeaderCellDef> Fin </mat-header-cell>
                            <mat-cell *matCellDef="let service"> {{service.endAt | date:'H'}}h </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                            <mat-cell *matCellDef="let service">
                                <button mat-icon-button (click)="edit(service)"><mat-icon>edit</mat-icon></button>
                                <button color="warn" mat-icon-button (click)="openConfirmationDialog(service)"><mat-icon>delete</mat-icon></button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator
                        [pageIndex]="0"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
