<div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
        <mat-card-header>
            <mat-card-title fxLayout="row">
                <a mat-button routerLink="/specialaccounts"><mat-icon>arrow_back</mat-icon></a>
                <section class="mat-typography">
                    <h1>Ajouter un compte spécial</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="specialAccountForm" fxLayout="column">
                <p>Le nouvel utilisateur sera invité à définir son mot de passe grâce à un email de
                    vérification envoyé automatiquement sur son adresse email.</p>
                <mat-form-field>
                    <input matInput placeholder="Adresse email" formControlName="email">
                    <mat-error *ngIf="specialAccountForm.get('email').hasError('email')">
                        Doit être un email valide.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
                <div fxLayout="row" fxLayout.xs="column">
                    <mat-form-field fxFlex="45">
                        <input matInput type="password" placeholder="Code " formControlName="code">
                        <mat-error *ngIf="specialAccountForm.get('code').hasError('pattern')">
                            Le code doit comporter seulement des chiffres, 4 au minimums.
                        </mat-error>
                    </mat-form-field>
                    <div fxFlex fxHide.xs="true"></div>
                    <mat-form-field fxFlex="45">
                        <input matInput type="password" placeholder="Confirmation du code" formControlName="codeConfirmation">
                    </mat-form-field>
                </div>
                <mat-error *ngIf="!codeMatch()" fxLayoutAlign="center">
                    <br />
                    Les codes doivent être identiques.
                </mat-error>
                <h4>Permissions</h4>
                <div *ngFor="let permission of permissions">
                    <mat-checkbox [(ngModel)]="permission.isChecked"
                                  [ngModelOptions]="{standalone: true}"
                                  [disabled]="permission.permission.disabled">
                        {{permission.permission.name}}
                    </mat-checkbox>
                </div>
                <div fxLayoutAlign="center">
                    <button fxFlex="50" mat-button type="button" (click)="openDialog()"
                            [disabled]="disable()">Ajouter</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
