<mat-toolbar color="primary" class="main-nav" fxLayout="row" fxLayoutAlign="start center">
	<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
	<h1 fxFlexOffset="15px" (click)="redirectHome()" class="header">K-App</h1>
	<div fxFlex></div>
	<mat-menu #personnalInformation="matMenu" [overlapTrigger]="false">
		<div *ngIf="user?.barman" class="connectedUserInformation">
			<h4>Compte Barman {{user.barman.nickname}}</h4>
			<p>Membre depuis le {{user.barman.createdAt | date:'d LLLL yyyy':'':'fr'}}</p>
			<div fxLayoutAlign="end">
				<a mat-raised-button routerLink="/barmen/{{user.barman.id}}/edit">Modifier mes informations</a>
			</div>
		</div>
		<div *ngIf="user?.specialAccount" class="connectedUserInformation">
			<h4>Compte spécial {{user.specialAccount.connection.email}}</h4>
			<p>Membre depuis le {{user.specialAccount.createdAt | date:'d LLLL yyyy':'':'fr'}}</p>
			<div fxLayoutAlign="end">
				<a mat-raised-button routerLink="/specialaccounts/{{user.specialAccount.id}}">Modifier mes informations</a>
			</div>
		</div>
	</mat-menu>
	<button *ngIf="!user.isGuest()" mat-icon-button [matMenuTriggerFor]="personnalInformation">
		<mat-icon class="example-icon">person</mat-icon>
	</button>
	<button type="button" mat-icon-button (click)="logout()" *ngIf="!user.isGuest()">
		<mat-icon>power_settings_new</mat-icon>
	</button>
	<button mat-stroked-button type="button" routerLink="login" *ngIf="user.isGuest()">
		Se connecter
	</button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #snav [fixedTopGap]="mobileQuery.matches ? 56 : 64" fixedBottomGap="50" [mode]="sidenavQuery.matches ? 'over' : 'side'"
		fixedInViewport="true" class="sidenav">
		<mat-nav-list [style.paddingTop.px]="0">
			<mat-list [style.paddingTop.px]="0">
				<ng-container *ngFor="let subMenu of menu">
					<ng-container *ngIf="isVisible(subMenu)">
						<h3 mat-subheader *ngIf="subMenu.name">{{subMenu.name}}</h3>
						<div *ngFor="let link of subMenu.links" (click)="sidenavQuery.matches ? snav.toggle() : null">
							<a mat-list-item routerLink="{{link.route}}" *ngxPermissionsOnly="link.permissions">{{link.name}}</a>
						</div>
						<mat-divider></mat-divider>
					</ng-container>
				</ng-container>
			</mat-list>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content [style.marginTop.px]="mobileQuery.matches ? 56 : 64" class="content-container">
		<router-outlet></router-outlet>
		<div class="footer"></div>
	</mat-sidenav-content>
</mat-sidenav-container>
