<div fxLayoutAlign="center">
  <mat-card fxFlex class="max-width">
    <mat-card-header>
      <mat-card-title fxLayout="row">
        <a mat-button routerLink="/kommissions"><mat-icon>arrow_back</mat-icon></a>
        <section class="mat-typography">
          <h1>Ajouter une kommission</h1>
        </section>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="kommissionForm" fxLayout="column" (ngSubmit)="add()">
        <mat-form-field>
          <input matInput placeholder="Nom de la kommission" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"
            matTextareaAutosize matAutosizeMinRows="10"></textarea>
        </mat-form-field>
        <div fxLayoutAlign="center">
          <button fxFlex="50" mat-button type="submit" [disabled]="!kommissionForm.valid">Ajouter</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
