<div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
        <mat-card-header>
            <mat-card-title>
                <section class="mat-typography">
                    <h1>Liste des comptes spéciaux</h1>
                </section>
            </mat-card-title>
            <div fxFlex></div>
            <a mat-mini-fab color="accent" routerLink="/specialaccounts/new" *ngxPermissionsOnly="['specialaccount:write']">
                <mat-icon>add</mat-icon>
            </a>
        </mat-card-header>
        <mat-card-content>
            <div class="mat-elevation-z3">
                <mat-table #table [dataSource]="specialAccountData" matSort>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                        <mat-cell *matCellDef="let specialAccount"> {{specialAccount.connection.email}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                        <mat-cell *matCellDef="let specialAccount"> {{specialAccount.description}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let specialAccount">
                            <button mat-icon-button (click)="edit(specialAccount)"><mat-icon>edit</mat-icon></button>
                            <button color="warn" mat-icon-button (click)="openDialog(specialAccount)"><mat-icon>delete</mat-icon></button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator
                               [pageIndex]="0"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>
